<h1>Burgers everywhere!</h1>

<h2>Burgers waiting to be devoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> options-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> options-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add any burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger-name">Burger Name:</label>
        <input type="text" id="burger-name" name="name" placeholder="Enter a burger name...">
    </div>

    <button class="submit-btn" type="submit">Add Burger</button>
</form>