html * {
    font-family: Roboto, sans-serif !important;
}

body {
    background-color: #450101; 
}

.heading {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.subhead {
    text-align: center;
    font-weight: bold;
    background-color: #32c704;
}

.h2 > .subhead {
    border-radius: 25px;
}

#burger-cartoon {
    max-height: 300px;
    margin-bottom: 5px; 
}

#label-text {
    font-weight: bold;
}

.jumbotron.cheese {
    background-color: tomato;
    padding-top: 25px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.main-body {
    background-color: #e5cb7a;
}

.list-body {
    background-color: #eec13a;
    border: black 1 dashed;
}

.btn {
    font-size: 10px !important;
    white-space:normal;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.add-burger {
    margin-top: 20px;
}

.is-devoured {
    text-align: center;
}

.burger-types {
    font-weight: 600;
}

@media (max-width: 767px) {
    .devoured-burger {
        margin-top: 10px;
    }
}

/* @media (max-width: 12450px) {
    .responsive-width {
        font-size: 1.5vw;
    }
}


@media (max-width:1195px) {
    .responsive-width {
        font-size: 1vh;
    }
};

@media (max-width: 987px){
    .responsive-width {
        font-size: 0.5vw;
    }
}
@media (max-width: 763px){
    .responsive-width {
        font-size: 3vw;
    }
} */